<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<p th:if="${borrowedBooks.isEmpty()}">This person hasn't borrowed any books.</p>

<div th:if="${!borrowedBooks.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <div th:each="book : ${borrowedBooks}">
        <p th:text="${book.getBookName() + ', ' + book.getAuthorName() + ', ' + book.getYearOfPublication()}">VALUE</p>
    </div>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>